/* 
https://blog.logrocket.com/how-to-use-css-variables-like-a-pro/ */


/* Selects the root element of the document:
   <html> in the case of HTML */
   :root {

    --shoveboxheight :30px;
    --gripheight :50px;
    --gripradius :2px;
    --shoveboxplaceholderheight : 0.25rem;
  }
  
  body {
    font-family: var(--bs-font-sans-serif);
    /* line-height: 1.5; */
  }


.shoveboxlist {

  /* -webkit-appearance: none;  
  appearance: none; */
     overflow-y:scroll; 
     overflow-x: clip;
     border-style: solid;
     border-color: gray;
     border-width: 2px;
     background:grey;
     padding-left: 0px;


}



.shovebox {
  width: 100%; /* Width of the outside container */


  height: var(--shoveboxheight);

    position: relative;
    display: block;
    /* color: #212529; */
    text-decoration: none;
    /* background-color: #fff; */
    overflow:hidden;
    /* position: relative; */
    border: 1px solid rgba(0, 0, 0, 0.125);

  padding:0;
    /* padding-left: 0px;
    padding-right: 0px;
    padding-top: 0rem;
    padding-bottom: 0rem; */



}

.shoveboxplaceholder {
  padding-top: 0.05rem; 
  height: var(--shoveboxplaceholderheight);
}


.shoveboxcontent {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--shoveboxheight);
  position: relative;
  top: 0;
/* 
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; */
  /* height: 100%; */
  background-color:rgb(255, 255, 255);

  /* display: inline-block;

vertical-align: middle; */




}



.shoveboxgrip:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }




  

/* The slider itself */
.slider {

/* Override default CSS styles */
  -webkit-appearance: none;  
  appearance: none;

  width: 16%; /* Full-width */
  height: 0px; 

}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {

  -moz-appearance: none !important;/* Override default look */
  appearance: none !important;/* Override default look */
  width: var(--shoveboxheight); /* Set a specific slider handle width */
  height: var(--gripheight); /* Slider handle height */
  /* background:rgb(50, 36, 0);
  background-image: url('../drawables/grip-pattern.png');  
  background-repeat: repeat; */
  border-radius:var(--gripradius);
  cursor: pointer; /* Cursor on hover */
  position: relative;
  background: conic-gradient(
		from 45deg,
		gray  0,
		gray 90deg,
		darkgray 90deg,
		darkgray 180deg,
		lightgray 180deg,
		lightgray  270deg,
		white  270deg,
		white  360deg
	);
	background-size: 6px 6px;
  border-radius: var(--gripradius);
  cursor: pointer; /* Cursor on hover */
  position: relative;
}

.slider::-moz-range-thumb {
  -moz-appearance: none !important;/* Override default look */
  appearance: none !important;/* Override default look */
  width: var(--shoveboxheight); /* Set a specific slider handle width */
  height: var(--gripheight); /* Slider handle height */
  /* background:rgb(50, 36, 0);
  background-image: url('../drawables/grip-pattern.png');  
  background-repeat: repeat; */
  border-radius:var(--gripradius);
  cursor: pointer; /* Cursor on hover */
  position: relative;
  background: conic-gradient(
		from 45deg,
		gray  0,
		gray 90deg,
		darkgray 90deg,
		darkgray 180deg,
		lightgray 180deg,
		lightgray  270deg,
		white  270deg,
		white  360deg
	);
	background-size: 6px 6px;
}



input[type="number"] {
  width:50px;
}







/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/*
.nospinnerinput {
	  -moz-appearance: textfield;
	
}*/



.titleswitch {
  position: relative;

  padding-right: 4px;

  padding-left: 4px;
}


.switch {
  position: relative;
  display: inline-block;
  height: var(--shoveboxheight);
  
  /* background-color:lightgrey; */
  width:10px;
  /* z-index: +1; */

}



 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  height: var(--shoveboxheight);
  
  /* background-color:lightgrey; */
  width:10px;
  /* z-index: +1; */

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

/* The slider */
.switchslider {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 4px;
  background-color:#2ecc71;
  -webkit-transition: .4s;
  transition: .4s;

}

.switchslider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 0px;
  bottom: 12px;
  background-color:darkgrey;
  -webkit-transition: .4s;
  transition: .4s;

}

input:checked + .switchslider {
  
  background-color:  white;
}

input:focus + .switchslider {
  box-shadow: 0 0 2px black;
  

}

input:checked + .switchslider:before {
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  transform: translateY(12px);
  background-color:darkgrey;

}




/* Rounded sliders */
.switchslider.round {
  border-radius: 34px;
}

.switchslider.round:before {
  border-radius: 50%;
}


